<h1><%= @game.title %></h1>

<% if @game.ended? == false %>
  <%= link_to "Join Game", new_game_board_path(@game), class: "button radius" %>

  <% @game.boards.each do |board| %>
  	<div class="panel">
      <h3><%= link_to board.name, board_path(board) %></h3>
      <p>Theme: <%= board.game.theme %></p>
      <p>Created By: <%= board.user.email %></p>
    </div>
  <% end %>

<% else %>
  <div class="panel">This game is currently closed.</div>
  <% @game.boards.each do |board| %>
    <div class="panel">
      <h3><%= link_to board.name, board_path(board) %></h3>
      <p>Theme: <%= board.game.theme %></p>
      <p>Created By: <%= board.user.email %></p>
    </div>
  <% end %>
<% end %>