<h1><%= @board.game.title %></h1>

<h3><%= @board.name %></h3>
<%= link_to "Back", game_path(@board.game), class: "button radius"%>
<p>Theme: <%= @board.game.theme %><br>
	Created By: <%= @board.user.email %></p>

<div class="progress">
  <span class="meter" style= "width:<%= @board.game.progress_bar(current_user)%>%"><%= @board.game.progress_bar(current_user)%>% Completed
  </span>
</div>

<% @game.user_answered(current_user).each do |answer| %>
	<div class="panel">
		<p><h3><%= answer.clue.question %></h3><br>
		<%= image_tag answer.photo_url if answer.photo? %></p>
	</div>
<% end %>

<% if @board.user == current_user && @next_clue %>
	<div class="panel">
		<h3><%= @next_clue.question %></h3>

		<%= form_for [@next_clue, @answer], html: {multipart: :true} do |f| %>
			<% if @answer.errors.any? %>
      	<div id="error_explanation">
        	<h2><%= pluralize(@answer.errors.count, "error") %> prohibited this Photo from being saved:</h2>

        	<ul>
        		<% @answer.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
        		<% end %>
        	</ul>
      	</div>
      <% end %>
      
			<p><%= f.label :photo %>
			<%= f.file_field :photo %></p>
			<%= f.submit %>
		<% end %>
	</div>
<% end %>