<h1>Board Show Page</h1>

<p><%= @board.name %></p>

<% @board.clues.each_with_index do |clue, i| %>
	<div class="clue-box">
		<strong><%= clue.question %></strong>

		<%= form_for [clue, @answer], :html => {:multipart => true, :id => "new_answer_#{i}"} do |f| %>

			<div class="user-input">
				<% if clue.answer %>
					<%= clue.answer.input %>
				<% end %>
			</div>
		
			<%= f.label :input, :for => "answer_input_#{i}" %>
			<%= f.text_field :input, :id => "answer_input_#{i}" %>
			<%= f.submit %>

		<% end %>
	</div>
<% end %>
