<h1>Board Show Page</h1>

<h3><%= @board.name %></h3>

<div>
	<% @game.user_answered(current_user).each do |answer| %>
		<p><%= answer.clue.question %><br>
		<%= answer.input %></p>
	<% end %>
</div>

<div>
	<h3><%= @next_clue.question %></h3>

	<%= form_for [@next_clue, @answer] do |f| %>
		<p><%= f.label :input %>
		<%= f.text_field :input %></p>
		<%= f.submit %>
	<% end %>
</div>