<h1>Board Show Page</h1>

<h3><%= @board.name %></h3>

<div>
	<% @game.user_answered(@user).each do |answer| %>
		<p><%= answer.clue.question %><br>
		<%= answer.input %></p>
	<% end %>
</div>

<div>
<% @board.game.clues.each do |clue| %>
	<% unless @game.completed_clues(@user).include?(clue) %>
	<h3><%= clue.question %></h3>

		<%= form_for [@answer] do |f| %>
			<% if @answer != @game.user_answered(@user) %>
				<p><%= f.label :input %>
				<%= f.text_field :input %></p>
				<%= f.submit %>
			<% end %>
		<% end %>

<% end %>
<% end %>
</div>