<h1><%= @board.game.title %></h1>

<h3><%= @board.name %></h3>
<%= link_to "Back", game_path(@board.game), class: "button radius"%>
<p>Theme: <%= @board.game.theme %><br>
	Created By: <%= @board.user.email %></p>

<% @game.user_answered(@user).each do |answer| %>
	<div class="panel">
		<p><%= answer.clue.question %><br>
		<%= image_tag answer.photo_url(:thumb) if answer.photo? %></p>
	</div>
<% end %>


<% if @board.user == current_user && @next_clue %>
	<div class="panel">
		<h3><%= @next_clue.question %></h3>

		<%= form_for [@next_clue, @answer], html: {multipart: :true} do |f| %>
			<p><%= f.label :photo %>
			<%= f.file_field :photo %></p>
			<%= f.submit %>
		<% end %>
	</div>
<% end %>