<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CAPICTURE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css">

  </head>

  <body>
    <header>
    <%= yield :header %>
  </header>
    <div class= 'nav-div' >
      <nav class= 'data-topbar'>
      
        <section class= 'top' >
            <% if current_user %>
              <li class="active"><a href="/logout/">Log Out</a></li>
              <li class="active-status">Logged in as <%= current_user.email %></li>
            <% else %>
              <li class="active"><a href="/login/">Log In</a></li>
              <li class="active"><a href="/signup/">Sign Up</a></li>
            <% end %>
          
            <li class="game"><a href="/games/">Games</a></li>
            
            <li class= "name">
              <a href="/">Capicture</a>
            </li>
        </section>
      </nav>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>